*{

    font-family: Verdana;

}

.light{

    color: #222244;
    background-color: #eeeedd;
    a{color: #222244;}

}

.dark{

    color: #eeeedd;
    background-color: #222244;
    a{color: #eeeedd;}

}